@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

